.App {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.editor {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.textarea {
  display: block;
  height: 100px;
  resize: none;
  width: 100%;
}

.pallete {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.pallete > li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.pallete > li.active {
  border: 1px solid #000;
}
.wrapper {
  display: flex;
}
.note-list {
  width: 75%;
  padding: 0 15px;
}
.noteFilter {
  width: 25%;
  padding: 0 15px;
}
.noteFilter label {
  display: block;
  
}